// Global
::selection {
    background: black;
    color: #cc3333;
}

// Structure
* {
    box-sizing: border-box;
}

// Elements
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 1000px;
    margin: 2em auto;
}

.post {
    margin-bottom: 2em;
    text-align: center;
}

.post-image {
    width: 100%;
    pointer-events: none;
}

.post-date {
    font-size: 0.7em;
}

// Media