// Media queries 
$medium-breakpoint: 50em;
$large-breakpoint: 64em;

// Colours
$pink: #d10073;
$yellow: #ffd000;
$teal: #73bdb8;
$purple: #570544;

$off-black: #333333;

// Font stacks
$font-stack-normal: 'VisbyCF Medium', sans-serif;
$font-stack-bold: 'VisbyCF Bold', sans-serif;
$font-stack-extra-bold: 'VisbyCF ExtraBold', sans-serif;